body {
	background-image: url("mountain-background.jpg");
	background-size: cover;
	color: white;
}

.backsplash {
	background-color:rgba(0,0,0,0.7);
	margin-top: 50px;
}

h3 {
	color: rgb(240,240,240);
	text-align: center;
}

.transparent-input {
	background-color:rgba(0,0,0,0) !important;
    border:none !important;
    box-shadow:none !important;
    color: rgb(255,255,255);
}
.check:checked + label{
	text-decoration: line-through;
}






/*.delete{
    color: red;
    display: none;
}
.checkbox:hover .delete {
   display:block  
}*/
