<!DOCTYPE html> 
	<html>
	<head>
		<title>Todo List</title>
		<link href="../static/bootstrap.min.css" rel="stylesheet">
		<link href="../static/styles.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="backsplash col-md-6 col-md-offset-3">
					<h3>My Todos:</h3>
					<!-- todo checkboxes go here -->
					<div class="todos">
						<div class="checkbox">
							<label>
							<input type="checkbox"> Check me out
							<span class = "delete">X</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
							<input type="checkbox"> Do you see an x?
							<span class = "delete">X</span>
							</label>
						</div>
					</div>

					<form>
  						<fieldset class="form-group">
						    <input type="newtodo" class="form-control transparent-input" id="newToDo" name = "newtodo" placeholder="New Todo">
					  </fieldset>
					 </form>
				</div>
			</div>
		

		</div>

	</body>
</html>
